p {
    color: rgb(8, 8, 105);
}
body {
    background-color: rgb(165, 128, 199);
}
h1 {
    font-size: 2em;
}
div {
    padding: 20px;
    margin: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #cf129a;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    font-weight: bold;
}
input[type="text"], input[type="email"] {
    padding: 8px;
    border: 1px solid #827c7c;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4b614c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}