
img {
    max-width: 100%;
    height: auto;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: black;
    color: rgb(255, 192, 235);
    text-align: right;
    padding: 10px;
    font-size: smaller;
}